@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

body{
    /* color: ; */
    background-color: #e2e8e4;

    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    margin: 50px;
}

h1{
    font-size: 180%;
    text-align: center;
}

h2{
    font-size: 120%;
    background-color: #ffccbb;
}

header{
    padding-top: 5px;
}

header, footer{
    /* background: #; */
    background: -moz-linear-gradient(to right, #006c84, #e2e8e4);
    background: -webkit-linear-gradient(to right, #006c84, #e2e8e4);
    background: -o-linear-gradient(to right, #006c84, #e2e8e4);
    background: linear-gradient(to right, #006c84, #e2e8e4);
}

nav{
    font-variant: small-caps;
    font-size: 100%;

}

nav a{

    display: inline-block;
    text-decoration: none;
    width: 10%;
    background-color: #f4ebdb;
    margin: 4px;

}


footer{
    clear: both;
}

img{
    padding: 6px;
    width: 10%;
    height: 10%;
}

table, td, th{
    border: 2px inset #000000;
}

td{
    padding: 10px;
}

table{
    margin-left: 20%;
    margin-bottom: 10%;
}

.main{
    display: block;
    clear: both;
}

.half{
    display: inline-block;
    float: left;
    width: 45%;
    margin-right: 4%;
}