body{
    background-color:#e2e8e3;
  }
  #head{
    height:70px;
     background-image: linear-gradient(to right,#3a7b8e, white);
    list-style-type: none;
    margin: 0;
    padding: 10px;}
  .clear{
    clear:both;
  }
  #head h2{text-align:center;}
  #head li {
    display: inline;
    
    background-color:white;
  
    font-family: 'Odibee Sans', cursive;
  
  }
  h4{background-color:#fbcaba;}
  
  table, th, td {
    border: 1px solid black;
  }
  .idols h5{
    background-color:#fbcaba;
    width:120%
  }
    .idols{
      float:left;
        width:40%
  }
  .goals h4{
    background-color:#fbcaba;
  }
  .goals{
    float:right;
    width:40%;
  }
  footer{
  background-image: linear-gradient(to right,#3a7b8e, white);
    margin-top:90px;
    padding:20px;
    
    text-align:center
  }
  .html {width: 20%; background-color: #123412;}
.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
.container {
  width: 100%;
  background-color: #ddd;
}
  
  